/* src/index.css */
html, body, #root {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: "Inter", sans-serif;
}

.app {
  display: flex;
  height: 100%;
  overflow: hidden;
}

.app__content {
  position: relative;
  flex: 1;
  margin-left: 100px;
  height: 100%;
  overflow: hidden;
}
